*{
  padding: 0;
  margin: 0;
}

th{
  padding: 20px;
  text-align: center;
  border: 1px solid black;
}
td{
  padding: 20px;
  text-align: center;
  border: 1px solid black;
}
.loginsignup-page{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.auth-container{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
input{
  padding: 10px;
  margin: 10px;
}
button{
  padding: 10px;
}